.bg-green {
    background: green;
    color: white;
}

.card-blue {
    background: skyblue;
    padding: 30px;
    box-shadow: 1px 1px 2px #e7e7e7;
    border-radius: 4px;
    margin: 20px 50px;
  }

.bg-eggshell {
    background: #f0ead6;
}

.center-text {
    text-align: center;
}